<div class="col-10 offset-1" about>
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/davidbkut/splurty-learning">David.</a> He is one man trapped in a virtual skyscraper of a world held hostage by bad code perpetrators, but he might be just the man to get the job done and save coding Christmas.
  </p>
  <br />
  <p>
    Alongside his fellow comrades in coding arms, the virtual Argyles and Al Powells of the UT Online Coding Bootcamp Cohort, David is working one coding story at a time to rid his projects of malevolent code and would-be bringers of code terror.
</p>
<p>
    If you would like to join the effort - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
</p>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'db.jpg', class: 'img-fluid' %>
  </div>

<div class="col-12 col-sm-7 offset-sm-1">
  <h2 class="text center">David Billingsley</h2>
  <br />
  <p>
    David Billingsley is a web developer and coding student. He has worked in several career fields, is fascinated by programming, and has seen the film Die Hard many times.
  </p>
</div>
<br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />